.Button, .Placeholder {
  display: flex;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  height: 60px;
  border-radius: 20px;
  user-select: none;
  touch-action: none;
}

.Button:active {
  background-color: #36c993 !important;
}